<!doctype html>

<html>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					Monica Liu
				</a>
			</div>
		</div>
		<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a><li>
				<li><a href="/contact"  style="margin-right: 20px">Contact</a></li>
		</ul>
	</nav>
</html>