<!doctype html>

<html>

	<li class="menuOption">
		<a href="#topofpage">Report Home</a>
	</li>
	<li class="menuOption active">
		<a href="#basicOps">Basic Operations</a>
	</li>
	<li class="menuOption">
		<a href="#Quant_Dith">Quantization and Dithering</a>
	</li>
	<li class="menuOption">
		<a href="#Conv_Edge">Basic Convolution and Edge Detection</a>
	</li>
	<li class="menuOption">
		<a href="#scaleShift">Antialiased Scale and Shift</a>
	</li>
	<li class="menuOption lastli">
		<a href="#funNonLinear">Fun Nonlinear Filters</a>
	</li>

</html>