<!doctype html>

<html>

	<!-- Navigation Bar Holder -->
	<nav id="navbar" class="sideBarContainer">
		<div id="sideHeader" class="sidebar-header">
			<h3>Monica Liu</h3>
		</div>

		<div id="topHeader" class="navbar-header">
			<button id="menucollapse" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#optionsList" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Monica Liu</a>
		</div>

		<div id="optionsList">

			<ul id="optionsListType" class="list-unstyled components">
				{{#if isCSE190_1}}
					{{> navbarCSE190_1}}
				{{else}}
					{{> navbarMainItems}}
				{{/if}}
			</ul>

			{{#if isCSE190_1}}
			    <ul class="list-unstyled CTAs">
			        <li><a href="/" class="mainPage">Back to Main Page</a></li>
			    </ul>
			{{/if}}

		</div>
	</nav>
	<!-- End Navigation Bar Holder -->

</html>