<!doctype html>

<html>

	<li class="menuOption active">
		<a href="#content">Home</a>
	</li>
	<li class="menuOption">
		<a href="#about">About</a>
	</li>
<!--
	<li class="menuOption">
		<a href="#Work">Work Experience</a>
	</li>
-->
	<li class="menuOption">
		<a id="subMenuToggle" href="#projects" data-toggle="collapse" data-target="#projSubMenu" aria-expanded="false">Projects</a>
		<ul id="projSubMenu" class="collapse list-unstyled components">
			<li class="subOption"><a href="#acg">Advanced Computer Graphics</a></li>
			<li class="subOption"><a href="#bb">Battle Blocks</a></li>
			<li class="subOption"><a href="#animation">Computer Animation</a></li>
			<li class="subOption"><a href="#fa">FeelzApp</a></li>
			<li class="subOption"><a href="#render">Photo-Realistic Rendering</a></li>
			<li class="subOption lastli"><a href="#km">Kart Mania</a></li>
		</ul>
	</li>
	<li class="menuOption">
		<a href="#contact">Contact</a>
	</li>

</html>