<!doctype html>

<html>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Monica Liu</a>
			</div>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-menu">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li>
					<a href="/projects">Projects</a>
					<!--
					<div class="btn-group navbar-btn">
						<a href="/projects" class="btn btn-default">Projects</a>
						<a data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></a>
						<ul class="dropdown-menu">
						<li><a href="/project/CSE125">CSE125</a></li>
						<li class="divider"></li>
						<li><a href="/project/CSE167">CSE167</a></li>
						<li><a href="/project/CSE168">CSE168</a></li>
						<li><a href="/project/CSE169">CSE169</a></li>
						<li><a href="/project/CSE190">CSE190</a></li>
						<li class="divider"></li>
						<li><a href="/project/CSE170">CSE170</a></li>
						</ul>
					</div>
					-->
				</li>
				<li><a href="/contact"  style="margin-right: 20px">Contact</a></li>
			</ul>
		</div>
	</nav>
</html>