<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name-"viewport" contenct-"width=device-width, initial-scale=1.0">
		<title>Monica Liu - Projects</title>

		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	</head>


	<body>
		{{> navbar}}

		<div class="container">
			<div class="page-header">
				<h1>CSE168 Projects - Photo-Realistic Rendering Algorithms</h1> 
			</div>

			<div class="row">
				<div class="col-md-4">
					<a href="/images/CSE168/project1.png" class="thumbnail">
						<img src="/images/CSE168/project1.png">
						<p class="imgCaption">A simple box scene</p>
					</a>
				</div>
				<div class="col-md-4">
					<h2>1. Basic Ray Tracer</h2>
					<p>A basic ray tracer which outputs a .png file for the specified scene using boxes.  In addition, add cast shadows and implement a sphere and plane object.  The output files were converted to .png here for brower display.</p>
					<p>All render times are for xcode build. Windows versions not tested</p>
				</div>
				<div class="col-md-4">
					<a href="/images/CSE168/project1_extra.png" class="thumbnail">
						<img src="/images/CSE168/project1_extra.png">
						<p class="imgCaption">extra credit demonstration of spheres, planes, and shadows</p>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h2>2. Spatial Data Structures</h2>
					<p>render a complex scene with high triangle count objects using an AABB box tree to store the objects</p>
				</div>
				<div class="col-md-4">
					<a href="/images/CSE168/project2.png" class="thumbnail">
						<img src="/images/CSE168/project2.png">
						<p class="imgCaption">Project 2 Render Time: ~7 seconds</p>
					</a>
				</div>
				<div class="col-md-4">
					<h2>Links and Demos</h2>
					<p>Date: Spring 2014</p>
					<p>written in C++ using opengl and Xcode. App demos for mac only currently.</p>
					<a href="http://graphics.ucsd.edu/courses/cse168_s14/"><p>Class Website</p></a>
					<p>download links:</p>
					<a href="/app_demos/CSE168/CSE168_mac.zip" download><p>mac: CSE168_mac.zip</p></a>
					<a href="/app_demos/CSE168/CSE168_linux.zip" download><p>windows: CSE168_linux.zip</p></a>
					<a href="/app_demos/CSE168/CSE168_win.zip" download><p>linux: CSE168_win.zip</p></a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<a href="/images/CSE168/project3_extra1.png" class="thumbnail">
						<img src="/images/CSE168/project3_extra1.png">
						<p class="imgCaption">extra credit - aperture Render Time: ~17 seconds</p>
					</a>
				</div>
				<div class="col-md-4">
					<h2>3. Materials and Textures</h2>
					<p>render multiple derived materials using the Lambert and Ashikhmin models using sampling routines.  Also uses BRDF sampling to generate reflection rays. In addition, add aperture adjustment to the camera and motion blur.</p>
				</div>
				<div class="col-md-4">
					<a href="/images/CSE168/project3_extra2.png" class="thumbnail">
						<img src="/images/CSE168/project3_extra2.png">
						<p class="imgCaption">extra credit - motion blur Render Time: ~4 minutes 20 seconds</p>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<a href="/images/CSE168/project3.png" class="thumbnail">
						<img src="/images/CSE168/project3.png">
						<p class="imgCaption">Project 3.  Render Time: ~3 minutes</p>
					</a>
				</div>

			</div>

			<div class="row">
				<div class="col-md-4">
					<a href="/images/CSE168/project4.png" class="thumbnail">
						<img src="/images/CSE168/project4.png">
						<p class="imgCaption">Final scene Render Time: ~35 minutes</p>
					</a>
				</div>
				<div class="col-md-4">
					<h2>Final Project - Procedural Textures</h2>
					<p> Scenes demonstrating use of Beer Lambert Law and procedural textures using both Perlin Noise and Worley Noise to create wood, marble, and cloud textures.</p>
				</div>
				<div class="col-md-4">
					<a href="https://cse168projectsp2014.wordpress.com/" class="thumbnail">
						<img src="/images/CSE168/presentationLink.png">
						<p class="imgCaption">Click here the final project presentation</p>
					</a>
				</div>
			</div>

			<div>
				<p><a href="#">Back to top of page</a> 
			</div>
		</div>

	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</html>