<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name-"viewport" content-"width=device-width, initial-scale=1.0">
		<title>Monica Liu - Projects</title>
		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- custom css files -->
		<link href="/css/portfolio.css" rel="stylesheet">
	</head>


	<body>
		{{> navbar}}

		<div id="myModalImg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-content modal-body">
				<img id="imgPopup" src="" class="img-responsive">
			</div>
		</div>

		<div class="container">
			<div class="page-header">
				<h1>CSE 125 - Software System Design and Implementation</h1> 
			</div>

			<div>
				<h2>Project Information</h2>
				<p>Date: Spring 2015</p>
				<p>work in progress</p>
			</div>

			<div>
				<h2>Links and Demos</h2>
				<a href="http://cse125.ucsd.edu"><p>Class Website</p></a>
				<a href="http://cse125.ucsd.edu/2015/cse125g1/"><p>Project Website</p></a>
			</div>

			<div>
				<p><a href="#">Back to top of page</a> 
			</div>
		</div>

	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--custom js files -->
	<script src="/js/portfolio.js"></script>
</html>