<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name-"viewport" content-"width=device-width, initial-scale=1.0">
		<title>Monica Liu - Projects</title>
		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- custom css files -->
		<link href="/css/portfolio.css" rel="stylesheet">
	</head>

	<body>
		{{> navbar}}

		<div id="myModalImg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-content modal-body">
				<img id="imgPopup" src="" class="img-responsive">
			</div>
		</div>

		<div class="container">
			<div class="page-header">
				<h1>CSE170 - Human-Computer Interaction</h1> 
			</div>

			<div class="row">
				<div class="col-xs-6">
					<h2>FeelzApp</h2>
					<p>Date: winter 2014-2015</p>
					<p>Human-Computer Interaction Course Project at UCSD</p>
					<p>FeelzApp is a website designed for mobile devices.  The studio prompt for this project was Storytelling, Empathy, and Metaphor.  This project focuses on the design process, using storyboards, needfinding, prototyping, and development planning.  This project was done in a group of 3</p>
				</div>
				<div class="col-xs-6 col-sm-3">
					<h2>Links and Demos</h2>
					<a href="http://d.ucsd.edu/class/intro-hci/2015/index.html"><p>Class Website</p></a>
					<a href="http://feelzapp.herokuapp.com" style="font-size:18pt"><p>Feelz Project Link</p></a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a class="thumbnail" data-toggle="modal" data-target="#myModalImg" onclick="popup(this)"
						data-imgSrc="/images/CSE170/feelz.png">
						<img src="/images/CSE170/thumbnails/feelz.png">
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<a class="thumbnail" data-toggle="modal" data-target="#myModalImg" onclick="popup(this)"
						data-imgSrc="/images/CSE170/paper2.jpg">
						<img src="/images/CSE170/thumbnails/paper2.jpg">
					</a>
				</div>

				<div class="col-xs-6 col-sm-3">
					<a class="thumbnail" data-toggle="modal" data-target="#myModalImg" onclick="popup(this)"
						data-imgSrc="/images/CSE170/paper.jpg">
						<img src="/images/CSE170/thumbnails/paper.jpg">
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a class="thumbnail" data-toggle="modal" data-target="#myModalImg" onclick="popup(this)"
						data-imgSrc="/images/CSE170/storyboard.jpg">
						<img src="/images/CSE170/storyboard.jpg">
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<h2>Storyboards and Prototyping</h2>
					<p>We started by making storyboards and paper prototypes of our app design</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<h2>Product Development</h2>
					<p>Each week of the course we learned a web programming topic.  We learned html, CSS, and Javascript.  We used node.js with handlebars and partials, and mongoDB for our database.  Each week we updated our development plan and design.  At the end, we also performed user testing and A/B testing using Woopra.</p>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a class="thumbnail" data-toggle="modal" data-target="#myModalImg" onclick="popup(this)"
						data-imgSrc="/images/CSE170/sidebar1.png">
						<img src="/images/CSE170/thumbnails/sidebar1.png">
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a class="thumbnail" data-toggle="modal" data-target="#myModalImg" onclick="popup(this)"
						data-imgSrc="/images/CSE170/DevelopmentPlan.png">
						<img src="/images/CSE170/thumbnails/DevelopmentPlan.png">
					</a>
				</div>
			</div>		
			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<a class="thumbnail" data-toggle="modal" data-target="#myModalImg" onclick="popup(this)"
						data-imgSrc="/images/CSE170/FeelzApp_slide.png">
						<img src="/images/CSE170/FeelzApp_slide.png">
						<p class="imgCaption">Presentation Slide</p>
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a class="thumbnail" data-toggle="modal" data-target="#myModalImg" onclick="popup(this)"
						data-imgSrc="/images/CSE170/Poster.png">
						<img src="/images/CSE170/thumbnails/Poster.png">
						<p class="imgCaption">Presentation Poster</p>
					</a>
				</div>
				<div class="col-xs-6">
					<h2>Final Presentations and Advertising</h2>
					<p>For our final presentation we gave a 30 second pitch about our app using a presentation slide.  We also  created a poster advertising it.</p>
				</div>
			</div>
		</div>

		<div>
			<p><a href="#">Back to top of page</a> 
		</div>


	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--custom js files -->
	<script src="/js/portfolio.js"></script>
</html>