<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name-"viewport" content-"width=device-width, initial-scale=1.0">
		<title>Monica Liu - Projects</title>
		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- custom css files -->
		<link href="/css/portfolio.css" rel="stylesheet">
	</head>

	<body>
		{{> navbar}}

		<div class="container">
			<div class="page-header">
				<h1>CSE167 - Introduction to Computer Graphics</h1> 
			</div>

			<div class="row">
				<div class="col-xs-6 col-sm-3">
					<h2>Kart Mania</h2>
					<p>Date: Fall 2013</p>
					<p>A program written in C using opengl demonstrating bezier curves, procedural terrain, complex surface texturing, particle effects, and collision detection algorithms. This project was done in a group of 3.</p>
				</div>
				<div class="col-xs-6 col-sm-3">
					<h2>Links and Demos</h2>
					<a href="http://ivl.calit2.net/wiki/index.php/CSE167Fall2013"><p>Class Website</p></a>
					<a href="https://cse167project.wordpress.com"><p>Blog</p></a>
					<a href="/app_demos/CSE167/carGame_mac.zip" download><p>mac: carGame_mac.zip</p></a>
					<a href="/app_demos/CSE167/carGame_linux.zip" download><p>linux: carGame_linux.zip</p></a>
					<!--
					<a href="app_demos/CSE167/carGame_win.zip" download><p>windows: carGame_win.zip</p></a>
					-->
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="https://cse167project.wordpress.com" class="thumbnail">
						<img src="/images/CSE167/thumbnails/CSE167.png">
						<p class="imgCaption">Link to Final Project Blog</p>
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<h2></h2>
					<p></p>
				</div>

			</div>

			<div>
				<!--
				<p><a href="#">Back to top of page</a> 
				-->
			</div>
		</div>

	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--custom js files -->
	<script src="/js/portfolio.js"></script>
</html>
