<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name-"viewport" contenct-"width=device-width, initial-scale=1.0">
		<title>Monica Liu - Projects</title>

		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	</head>

	<body>
		{{> navbar}}

		<div class="container">
			<div class="page-header">
				<h1>CSE169 - Computer Animation</h1> 
			</div>

			<div class="row">
				<div class="col-md-4">
					<a href="/images/CSE169/project1wire.png" class="thumbnail">
						<img src="/images/CSE169/project1wire.png" >
						<p class="imgCaption">render wireframe wasp skeleton</p>
					</a>
				</div>
				<div class="col-md-4">
					<h2>1. Skeleton</h2>
					<p>Render a character skeleton from a .skel file.  The app allows selection and positioning of joints within the given degrees of freedom in the file.  Each "bone" of the skeleton is represented by a rectangle.  In addition, create a custom .skel file</p>
				</div>
				<div class="col-md-4">
					<a href="/images/CSE169/project1solid.png" class="thumbnail">
						<img src="/images/CSE169/project1solid.png" >
						<p class="imgCaption">render boxframe dragon skeleton</p>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h2>Links and Demos</h2>
					<p>Date: Winter 2015 (WIP)</p>
					<p>Character and Physics based algorithms written in C++ using opengl and Xcode</p>
					<a href="http://graphics.ucsd.edu/courses/cse169_w15/index.html"><p>Class Website</p></a>
					<a href="/app_demos/CSE169/animator_mac.zip" download><p>mac: animator_mac.zip</p></a>
					<a href="/app_demos/CSE169/animator_linux.zip" download><p>windows: animator_linux.zip</p></a>
					<a href="/app_demos/CSE169/animator_win.zip" download><p>linux: animator_win.zip</p></a>
				</div>
				<div class="col-md-4">
					<a href="/images/CSE169/project1_extra.png" class="thumbnail">
						<img src="/images/CSE169/project1thumb.png">
						<p class="imgCaption">extra credit 1 - render custom skeleton </p>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h2>2. Skinning</h2>
					<p>load a character skin from any .skin file and bind it to a matching .skel file using the smooth skinning algorithm.  This program also demonstrates texture mapping and morphing.</p>
				</div>
				<div class="col-md-4">
					<a href="/images/CSE169/project2.png" class="thumbnail">
						<img src="/images/CSE169/project2.png">
						<p class="imgCaption">wasp skin</p>
					</a>
				</div>
				<div class="col-md-4">
					<a href="/images/CSE169/project2_extra0.png" class="thumbnail">
						<img src="/images/CSE169/project2_extra0.png" height="300">
						<p class="imgCaption">extra credit - texture mapping</p>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
				</div>

				<div class="col-md-4">
					<a href="/images/CSE169/project2_extra1.png" class="thumbnail">
						<img src="/images/CSE169/project2_extra1.png" height="300">
						<p class="imgCaption">extra credit - morph cheek</p>
					</a>
				</div>
				<div class="col-md-4">
					<a href="/images/CSE169/project2_extra2.png" class="thumbnail">
						<img src="/images/CSE169/project2_extra2.png" heght="300">
						<p class="imgCaption">extra credit - morph eyebrow</p>
					</a>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h2>3. Keyframe Animation</h2>
					<p>animate a character skeleton using a .anim file.  .anim file specifies the channels which correspond with a joint in the skeleton and its keyframes.  In addition, this app displays the channels for each joint</p>
				</div>

				<div class="col-md-8">
					<a href="/images/CSE169/animationWithText.png" class="thumbnail">
						<img src="/images/CSE169/animationWithText.png" width="800">
					</a>
				</div>
			</div>

			<div id="item4">
				<h2>Final Project</h2>
				<p>Physics based animation - (WIP)</p>
			</div>

			<div>
				<p><a href="#">Back to top of page</a> 
			</div>

		</div>

	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</html>