<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name-"viewport" contenct-"width=device-width, initial-scale=1.0">
		<title>Monica Liu</title>
		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- custom css files -->
		<link href="/css/portfolio.css" rel="stylesheet">
	</head>

	<body>
		{{> navbar}}

		<div class="container">
			<div class="page-header">
				<h1>Monica Liu</h1> 
				<p>I am a undergrad senior computer science major and  Interdisciplinary Computing and Arts (ICAM) minor at UCSD.  I am graduating June 2015.  I am interested in Computer Graphics, Computer Vision, and Software.</p>
				<p>My hobbies include hiking, skiing, dancing, cosplaying, and video games.</p>
			</div>
		</div>

	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--custom js files -->
	<script src="/js/portfolio.js"></script>
</html>
