<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name-"viewport" contenct-"width=device-width, initial-scale=1.0">
		<title>Monica Liu - Projects</title>
		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- custom css files -->
		<link href="/css/portfolio.css" rel="stylesheet">
	</head>

	<body>
		{{> navbar}}

		<div class="container">

			<div class="page-header">
				<h1>Projects</h1> 
			</div>

			<div class="row">
				<div class="col-sm-6 col-md-4">
					<a href="/project/CSE167" class="thumbnail">
						<img src="images/thumbnails/CSE167.png">
						<p>CSE167 - Introduction to Computer Graphics</p>
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a href="/project/CSE168" class="thumbnail">
						<img src="images/thumbnails/CSE168.png">
						CSE168 Projects - Rendering Algorithms
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a href="/project/CSE169" class="thumbnail">
						<img src="images/thumbnails/CSE169.png">
						CSE169 - Computer Animation
					</a>
				</div>
				<div class="col-sm-6 col-md-4">
					<a href="/project/CSE170" class="thumbnail">
						<img src="images/thumbnails/CSE170.png">
						CSE170 - Human-Computer Interaction
					</a>
				</div>
			</div>
			
		</div>

	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--custom js files -->
	<script src="/js/portfolio.js"></script>
</html>
