<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name-"viewport" contenct-"width=device-width, initial-scale=1.0">
		<title>Monica Liu - Projects</title>
		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- custom css files -->
		<link href="/css/portfolio.css" rel="stylesheet">
	</head>


	<body>
		{{> navbar}}

		<div id="myModalImg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-content modal-body">
				<img id="imgPopup" src="" class="img-responsive">
			</div>
		</div>

		<div class="container">
			<div class="page-header">
				<h1>CSE 190: Advanced Computer Graphics</h1> 
			</div>

			<div>
				<ol class="breadcrumb">
					<li><a data-id="1" href="/project/CSE190">Project Home</a></li>
					<li class="active">Assignment 1</li>
					<li><a data-id="2" href="/project/CSE190/Assignment2">Assignment 2</a></li>
					<li><a data-id="3" href="/project/CSE190/Assignment3">Assignment 3</a></li>
				</ol>
			</div>

			<div>
				<h2>Assignment 1 - Image and Signal Processing</h2>
				<p>Date: Spring 2015</p>
				<p>work in progress</p>
			</div>

			<div>
				<h2>Links and Demos</h2>
				<a href="http://cseweb.ucsd.edu/~ravir/190/2015/190.html"><p>Class Website</p></a>
				<a href="/app_demos/CSE190/assignment1.zip" download><p>mac: assignment1.zip coming soon</p></a>
			</div>

			<div id="basicOps">
				<h3>Basic Operations</h3>
				<div id="Brighten">
					<h4>Image::Brighten</h4>
					<p>command line example: </br>
						./image -brightness 1.0 < images/shed.bmp > out.bmp
					</p>
					<div class="row">		
						<div class="col-sm-1"></div>	
						{{#each brightness}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>
				<div id="ChangeContrast">
					<h4>Image::ChangeContrast</h4>
					<p>command line example: </br>
						./image -contrast 1.0 < images/mandrill.bmp > out.bmp
					</p>

					<div class="row">
						<div class="col-sm-1"></div>
						{{#each contrast}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>
				<div id="ChangeSaturation">
					<h4>Image::ChangeSaturation</h4>
					<p>command line example: </br>
						./image -saturation 1.0 < images/wave.bmp > out.bmp
					</p>

					<div class="row">
						<div class="col-sm-1"></div>
						{{#each saturation}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>

				<div id="ChangeGamma">
					<h4>Image::ChangeGamma</h4>
					<p>command line example: </br>
						./image -gamma 1 < images/flower.bmp > 1.bmp
					</p>

					<div class="row">
						<div class="col-sm-1"></div>
						{{#each gamma}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>

				<div id="Crop">
					<h4>Image::Crop</h4>
					<p>command line example: </br>
						./image -crop 275 25 120 80 < images/mandrill.bmp > out.bmp
					</p>
					<p>An error message is printed if x is not between 0 and the image width or if y is not between 0 and the image height</p>
					<div class="row">
						<div class="col-sm-1"></div>
						{{#each crop}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div> 
			</div> <!-- end basic operations -->

			<div id="Quant_Dith">

				<h3>Quantization and Dithering</h3>
				<div id="Quantize">
					<h4>Image::Quantize</h4>
					<p>command line example: </br>
						./image -quantize 8 < images/shed.bmp > out.bmp
					</p>
					<p>An error message is printed if the number of bits is not between 1 and 8</p>
					<div class="row">		
						<div class="col-sm-1"></div>	
						{{#each quantize}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>

				<div id="RandomDither">
					<h4>Image::RandomDither</h4>
					<p>command line example: </br>
						./image -randomDither 8 < images/flower.bmp > out.bmp
					</p>
					<p>An error message is printed if the number of bits is not between 1 and 8</p>
					<div class="row">		
						<div class="col-sm-1"></div>	
						{{#each randomDither}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>

				<div id="FloydSteinbergDither">
					<h4>Image::FloydSteinbergDither</h4>
					<p>command line example: </br>
						./image -FloydSteinbergDither 8 < images/shed.bmp > out.bmp
					</p>
					<p>An error message is printed if the number of bits is not between 1 and 8</p>
					<p>I prevent darkening the edges of the image by treating it as a toroidal.  I wrap the last column to the first column, the first column to the last column, and the last row to the first row.</p>
					<div class="row">		
						<div class="col-sm-1"></div>	
						{{#each FloydSteinbergDither}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>

			</div> <!-- end Quantization and Dithering -->

			<div id="Convolution">
				<h3>Basic Convolution and Edge Detection</h3>

				<div id="Blur">
					<h4>Image::Blur</h4>
					<p>command line example: </br>
					</p>

					<div class="row">
						<div class="col-sm-1"></div>
						{{#each Blur}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>

				<div id="Sharpen">
					<h4>Image::Sharpen</h4>
					<p>command line example: </br>
					</p>

					<div class="row">
						<div class="col-sm-1"></div>
						{{#each Sharpen}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>

				<div id="EdgeDetect">
					<h4>Image::EdgeDetect</h4>
					<p>command line example: </br>
					</p>

					<div class="row">
						<div class="col-sm-1"></div>
						{{#each EdgeDetect}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>

			</div> <!-- end Convolution and Edge Detection -->

			<div id="scaleShift">
				<h3>Antialiased Scale and Shift</h3>

				<div id="Scale">
					<h4>Image::Scale</h4>
					<p>command line example: </br>
					</p>

					<div class="row">
						<div class="col-sm-1"></div>
						{{#each Scale}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>

				<div id="Shift">
					<h4>Image::Shift</h4>
					<p>command line example: </br>
					</p>

					<div class="row">
						<div class="col-sm-1"></div>
						{{#each Shift}}
							{{> assignmentImg }}
						{{/each}}
					</div>
				</div>				

			</div>  <!-- end Antialiased Scale and Shift -->

			<div>
				<h3>Fun nonlinear filters</h3>
			</div>

			<div>
				<h3>Extra credit: Compositing and Morphing</h3>
			</div>

			<div>
				<p><a href="#">Back to top of page</a> 
			</div>
		</div>

	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--custom js files -->
	<script src="/js/portfolio.js"></script>
</html>