<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name-"viewport" contenct-"width=device-width, initial-scale=1.0">
		<title>Monica Liu - Projects</title>
		<!-- bootstrap css files -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<!-- custom css files -->
		<link href="/css/portfolio.css" rel="stylesheet">
	</head>


	<body>
		{{> navbar}}

		<div id="myModalImg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-content modal-body">
				<img id="imgPopup" src="" class="img-responsive">
			</div>
		</div>

		<div class="container">
			<div class="page-header">
				<h1>CSE 190: Advanced Computer Graphics</h1> 
			</div>

			<div>
				<ol class="breadcrumb">
					<li><a data-id="1" href="/project/CSE190">Project Home</a></li>
					<li class="active">Assignment 1</li>
					<li><a data-id="2" href="/project/CSE190/Assignment2">Assignment 2</a></li>
					<li><a data-id="3" href="/project/CSE190/Assignment3">Assignment 3</a></li>
				</ol>
			</div>

			<div>
				<h2>Assignment 1 - Image and Signal Processing</h2>
				<p>Date: Spring 2015</p>
				<p>work in progress</p>
			</div>

			<div>
				<h2>Links and Demos</h2>
				<a href="http://cseweb.ucsd.edu/~ravir/190/2015/190.html"><p>Class Website</p></a>
			</div>

			<div>
				<h3>Basic Operations</h3>
					<div class="row">
						<div class="col-sm-3 thumbnail">
								<a href="images/CSE190/Brighten.png"><img src="images/CSE190/Brighten.png"></a>
						</div>
						<div class="col-sm-9">
							<h4>Image::Brighten</h4>
							<p>command line example: </br>
								./image -brightness 1.0 < images/shed.bmp > out.bmp
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 thumbnail">
								<a href="images/CSE190/ChangeContrast.png"><img src="images/CSE190/ChangeContrast.png"></a>
						</div>
						<div class="col-sm-9">
							<h4>Image::ChangeContrast</h4>
							<p>command line example: </br>
								./image -contrast 1.0 < images/mandrill.bmp > out.bmp
							</p>
						</div>
					</div>
			</div>

			<div>
				<h3>Quantization and Dithering</h3>
			</div>

			<div>
				<h3>Basic Convolution and Edge Detection</h3>
			</div>

			<div>
				<h3>Antialiased Scale and Shift</h3>
			</div>

			<div>
				<h3>Fun nonlinear filters</h3>
			</div>

			<div>
				<h3>Extra credit: Compositing and Morphing</h3>
			</div>

			<div>
				<p><a href="#">Back to top of page</a> 
			</div>
		</div>

	</body>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--custom js files -->
	<script src="/js/portfolio.js"></script>
</html>